Repository llevintza/aws-config-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{js,mjs,cjs}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{md,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"],
  "tsconfig*.json": ["prettier --write"],
  "jest*.json": ["prettier --write"]
}

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  09874998556f229e98d2c0ec2a179fc763c2960a
Due: none

chore: update .commitlintrc.json
  .commitlintrc.json
Due: none

chore: updated .releaserc.json
  .releaserc.json
Due: none

chore: add 'deps' to valid commit message types
  .github/workflows/pr-checks.yml
Due: prettier --write

fix: remove unnecessary newline in changelog for version 1.0.2
  CHANGELOG.md
Due: prettier --write

chore: add 'deps' to valid commit message types (#30)
  .github/workflows/pr-checks.yml
  CHANGELOG.md
Due: prettier --write

chore: standardize quotes and formatting in dependabot configuration
  .github/dependabot.yml
Due: prettier --write

chore: enhance dependabot configuration and add auto-merge workflow
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  docs/DEPENDENCY_MANAGEMENT.md
Due: prettier --write

chore: update dependabot configuration for bi-weekly updates and enhance ecosystem grouping
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  docs/DEPENDENCY_MANAGEMENT.md
Due: prettier --write

chore: update dependabot (#31)
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  docs/DEPENDENCY_MANAGEMENT.md
Due: prettier --write

fix: Implement code changes to enhance functionality and improve performance
  package.json
  src/config/pino-winston-bridge.ts
  src/routes/config.ts
  src/server.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: add missing newline at end of package.json
  package.json
Due: prettier --write

fix: update jest configuration and dependencies for improved compatibility
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: Implement code changes to enhance functionality and improve performance
  yarn.lock
Due: none

fix: update jest configuration and dependencies for improved compatibility
  yarn.lock
Due: none

fix: updated the yarn.lock file
  yarn.lock
Due: none

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  680ec19df41b15d9140cf0b4df591c15a2b30c31
Due: none

fix: clean up changelog formatting and remove duplicate entries
  CHANGELOG.md
Due: prettier --write

ci: add auto-review and security auto-review workflows with branch protection guidelines
  .github/workflows/auto-review-my-prs.yml
  .github/workflows/security-auto-review.yml
  docs/BRANCH_PROTECTION_SETUP.md
Due: prettier --write

chore: Update .github/workflows/auto-review-my-prs.yml
  .github/workflows/auto-review-my-prs.yml
Due: prettier --write

ci: add Docker and GitHub Actions ecosystems to dependabot configuration
  .github/dependabot.yml
Due: prettier --write

ci: update cron schedule and timezone for dependabot updates
  .github/dependabot.yml
Due: prettier --write

ci: add Docker and GitHub Actions ecosystems to dependabot configuration (#33)
  .github/dependabot.yml
Due: prettier --write

chore: update dependencies in yarn.lock for debug, string-width, strip-ansi, and yaml
  yarn.lock
Due: none

docs: Refactor README.md for clarity and conciseness; add CI/CD and Docker guides; introduce comprehensive scripts reference
  .github/README.md
  README.md
  docs/CI_CD_PIPELINE.md
  docs/DOCKER_GUIDE.md
  docs/SCRIPTS_REFERENCE.md
Due: prettier --write

docs: Improve README.md formatting and clarity; add missing code blocks and enhance section organization
  README.md
Due: prettier --write

docs: update documentation (#50)
  .github/README.md
  README.md
  docs/CI_CD_PIPELINE.md
  docs/DOCKER_GUIDE.md
  docs/SCRIPTS_REFERENCE.md
Due: prettier --write

fix: streamline environment variable setup for auto-approval decision
  .github/workflows/auto-review-my-prs.yml
Due: prettier --write
