Repository llevintza/aws-config-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{js,mjs,cjs}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore: improve DynamoDB readiness checks and update Codecov token usage
  .github/workflows/ci.yml
Due: prettier --write

chore: enhance DynamoDB readiness checks and improve testing tool installation
  .github/workflows/ci.yml
Due: prettier --write

chore: add local CI testing scripts and Docker integration
  MIGRATION_SUMMARY.md
  README.md
  docker-compose.dynamodb-test.yml
  docs/CONTRIBUTOR_SETUP.md
  docs/DYNAMODB_SETUP.md
  scripts/README.md
  scripts/ci/test-ci-locally.sh
  scripts/ci/test-docker-build.sh
  scripts/ci/test-docker-locally.sh
  scripts/ci/test-with-act.sh
  scripts/dynamodb/create-dynamodb-table.sh
  scripts/dynamodb/test-dynamodb.sh
  scripts/setup/check-prerequisites.sh
  scripts/setup/install-prerequisites.sh
  scripts/setup/setup.sh
  scripts/testing/test-health.sh
  scripts/testing/test-minimal.sh
  scripts/testing/test-simple.sh
  test-docker-locally.sh
  test-with-act.sh
Due: prettier --write

chore: update script paths for CI testing and DynamoDB migration
  package.json
Due: prettier --write

chore: enhance DynamoDB connectivity testing scripts and update CI workflow
  .github/workflows/ci.yml
  package.json
  scripts/testing/test-docker-job-locally.sh
  scripts/testing/test-dynamodb-connectivity.sh
  scripts/testing/verify-github-actions-fix.sh
Due: prettier --write

chore: update permissions section in CI workflow for enhanced security
  .github/workflows/ci.yml
Due: prettier --write

chore: implement GitHub Actions security scanning fix and add local testing scripts
  docs/SECURITY_SCANNING_FIX.md
  package.json
  scripts/testing/test-comprehensive-ci-fixes.sh
  scripts/testing/test-trivy-security-scan.sh
Due: prettier --write

fix: use coalescing
  scripts/migrate-to-dynamodb.ts
Due: none

fix: use queryCommnad
  src/services/dynamoConfigService.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore: update README and add TESTING_COMMANDS.md for comprehensive CI testing guidance
  README.md
  docs/TESTING_COMMANDS.md
Due: prettier --write

fix: replace logical OR with nullish coalescing for environment variables in DynamoDB configuration
  scripts/create-table.ts
  scripts/migrate-to-dynamodb.ts
  src/services/dynamoConfigService.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore: updated the yarn.lock file
  yarn.lock
Due: none

fix: add retry logic for yarn install in multiple jobs to improve dependency installation
  .github/workflows/pr-checks.yml
Due: prettier --write

chore: implement robust yarn install with retry logic and fallback for network errors
  README.md
  docs/TESTING_COMMANDS.md
  docs/YARN_INSTALL_FIX.md
  package.json
  scripts/ci/robust-yarn-install.sh
  scripts/testing/test-yarn-install-retry.sh
Due: prettier --write

chore: update Node.js version to 22 in workflows and package files
  .github/workflows/dependencies.yml
  .github/workflows/release.yml
  .nvmrc
  package.json
Due: prettier --write

fix: resolve husky and commitlint ESM compatibility issues
  .commitlintrc.json
  .github/workflows/release.yml
  .husky/commit-msg
  .husky/pre-commit
  .releaserc.json
  CHANGELOG.md
  commitlint.config.js
  docs/SEMVER.md
  package.json
  scripts/test-semver.sh
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: update commitlint configuration to include additional types and improve formatting rules
  .commitlintrc.json
  package.json
Due: prettier --write

chore: update commitlint and lint-staged configurations for improved formatting and rules
  .commitlintrc.json
  .lintstagedrc.json
  .prettierignore
  package.json
Due: prettier --write

fix: fixing the release pipeline and formatting inconsistencies (#18)
  .commitlintrc.json
  .github/workflows/dependencies.yml
  .github/workflows/release.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .nvmrc
  .prettierignore
  .releaserc.json
  CHANGELOG.md
  commitlint.config.js
  docs/SEMVER.md
  package.json
  scripts/test-semver.sh
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: update release pipeline to use new secret tokens and adjust release command
  .github/workflows/release.yml
Due: prettier --write

fix: update release pipeline to use new secret tokens and adjust release command (#24)
  .github/workflows/release.yml
Due: prettier --write

fix: update GITHUB_TOKEN in semantic-release step for improved security
  .github/workflows/release.yml
Due: prettier --write

fix: update GITHUB_TOKEN in semantic-release step for improved security (#25)
  .github/workflows/release.yml
Due: prettier --write

fix: update permissions and enhance Node.js setup in release workflow
  .github/workflows/release.yml
Due: prettier --write

fix: add Docker login step to release workflow for improved security
  .github/workflows/release.yml
Due: prettier --write

fix: refactor environment variables for NPM configuration in release workflow
  .github/workflows/release.yml
Due: prettier --write

fix: update permissions and enhance Node.js setup in release workflow (#26)
  .github/workflows/release.yml
Due: prettier --write

fix: update token usage in release workflow for NPM publishing
  .github/workflows/release.yml
Due: prettier --write

fix: update token usage in release workflow for NPM publishing (#27)
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  7339c244e8e6aa837d9fe5ffdc38b7754da27e2e
Due: none

fix: add retry logic for semantic release and update changelog configuration
  .github/workflows/release.yml
  .releaserc.json
  package.json
  yarn.lock
Due: prettier --write

fix: update js-yaml dependency versioning in package.json and yarn.lock
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --write

fix: add missing newline at end of package.json
  package.json
Due: prettier --write

fix: Add retry logic for semantic release and update changelog configuration (#28)
  .github/workflows/release.yml
  .releaserc.json
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0c9a48e5ba96cbf8f50150e3031e04e4422abb93
Due: none

fix: enhance semantic release with version capture and update vulnerability scanner version
  .github/workflows/release.yml
  CHANGELOG.md
Due: prettier --write

fix: fix vulnerability scan (#29)
  .github/workflows/release.yml
  CHANGELOG.md
Due: prettier --write
