Repository llevintza/aws-config-service: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'tsc --noEmit', bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

feat: implement design patterns architecture with factory, strategy and DI
  .editorconfig
  .eslintrc.js
  package.json
  src/config/dynamodb.ts
  src/config/logger.ts
  src/container/DIContainer.ts
  src/factories/ConfigServiceFactory.ts
  src/interfaces/IConfigService.ts
  src/routes/config.ts
  src/services/dynamoConfigService.ts
  src/services/fileConfigService.ts
  src/services/hybridConfigService.ts
  src/testing/MockConfigService.ts
  src/types/config.ts
  yarn.lock
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit', bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: simplify lint-staged configuration by removing ESLint and TypeScript checks
  .lintstagedrc.json
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

feat: implement DynamoDB support with configuration management, migration tools, and documentation
  MIGRATION_SUMMARY.md
  docker-compose.dynamodb.yml
  docs/DESIGN_PATTERNS.md
  docs/DYNAMODB_SETUP.md
  docs/ESLINT_FIX_SUMMARY.md
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

feat(dynamodb): add scripts for creating and migrating DynamoDB tables
  scripts/create-dynamodb-table.sh
  scripts/create-table.ts
  scripts/migrate-to-dynamodb.ts
Due: bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

refactor: refactor code structure for improved readability and maintainability
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/README.md
  .github/pull_request_template/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  CI_CD_SETUP.md
  jest.config.js
  jest.integration.config.js
  jest.setup.ts
  package.json
  src/__tests__/configService.test.ts
  src/__tests__/integration/health.integration.test.ts
  src/server.ts
  src/testing/jest.setup.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit', bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: fixed linting errors
  src/config/dynamodb.ts
  src/config/logger.ts
  src/config/pino-winston-bridge.ts
  src/factories/ConfigServiceFactory.ts
  src/plugins/request-logging.ts
  src/routes/health.ts
  src/services/dynamoConfigService.ts
  src/services/fileConfigService.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit', bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: add missing commas in various TypeScript files for syntax correctness
  .lintstagedrc.json
  src/config/logger.ts
  src/config/pino-winston-bridge.ts
  src/plugins/request-logging.ts
  src/routes/config.ts
  src/routes/health.ts
  src/services/dynamoConfigService.ts
  src/services/fileConfigService.ts
  src/services/hybridConfigService.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit', bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: fix linting errors
  src/config/logger.ts
  src/config/pino-winston-bridge.ts
  src/plugins/request-logging.ts
  src/services/dynamoConfigService.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit', bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: update ESLint and Prettier configurations for improved code formatting
  .eslintrc.js
  .prettierrc
Due: bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

refactor: improve null checks and type assertions across services and tests
  src/__tests__/configService.test.ts
  src/config/logger.ts
  src/config/pino-winston-bridge.ts
  src/container/DIContainer.ts
  src/plugins/request-logging.ts
  src/routes/config.ts
  src/routes/health.ts
  src/services/configService.ts
  src/services/dynamoConfigService.ts
  src/services/fileConfigService.ts
  src/testing/MockConfigService.ts
  src/testing/jest.setup.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit', bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

refactor: migrate ESLint configuration to new format and improve rules
  .eslintrc.js
  Dockerfile
  eslint.config.js
  package.json
  src/__tests__/configService.test.ts
  src/config/logger.ts
  src/config/pino-winston-bridge.ts
  src/container/DIContainer.ts
  src/factories/ConfigServiceFactory.ts
  src/interfaces/IConfigService.ts
  src/plugins/request-logging.ts
  src/plugins/swagger-combined.ts
  src/plugins/swagger-ui.ts
  src/plugins/swagger.ts
  src/routes/config.ts
  src/routes/health.ts
  src/routes/index.ts
  src/server.ts
  src/services/configService.ts
  src/services/dynamoConfigService.ts
  src/services/fileConfigService.ts
  src/services/hybridConfigService.ts
  src/testing/MockConfigService.ts
  tsconfig.dev.json
  yarn.lock
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit', bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

refactor: enhance type safety and null checks in logger functions
  src/config/logger.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit', bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: update Node.js version in CI configuration to 22
  .github/workflows/ci.yml
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: comment out commit message format check in PR workflow
  .github/workflows/pr-checks.yml
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: update Node.js version matrix in CI configuration to include 20, 22, and 24
  .github/workflows/ci.yml
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: update Node.js version to 22 in CI and Dockerfile,
  .github/workflows/ci.yml
  Dockerfile
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: reduce Node.js version matrix and enhancing DynamoDB setup with health checks
  .github/workflows/ci.yml
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: enhance CI setup with improved DynamoDB health checks and add docker-compose configuration
  .github/workflows/ci.yml
  docker-compose.ci-test.yml
  package.json
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: add scripts for local CI testing, Docker build, and DynamoDB setup
  scripts/install-prerequisites.sh
  scripts/test-ci-locally.sh
  scripts/test-docker-build.sh
  scripts/test-dynamodb.sh
Due: none

chore: update docs and scripts for local CI testing setup, prerequisites and usage
  README.md
  docs/ACT_TESTING.md
  docs/CONTRIBUTOR_SETUP.md
  docs/LOCAL_CI_TESTING.md
  docs/SERVICE_MANAGEMENT.md
  package.json
  scripts/check-prerequisites.sh
  scripts/test-ci-locally.sh
  scripts/test-docker-build.sh
  scripts/test-dynamodb.sh
  setup.sh
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: enhance local CI testing script with cleanup function and improve plugin initialization
  scripts/test-ci-locally.sh
  src/plugins/request-logging.ts
  src/routes/config.ts
  src/routes/health.ts
  src/server.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit', bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: enhance local CI testing script with timeout handling and improved container checks
  scripts/test-ci-locally.sh
Due: none

chore: enhance logging behavior for test environment and improve health route logging
  .lintstagedrc.json
  src/__tests__/integration/health.integration.test.ts
  src/config/logger.ts
  src/plugins/request-logging.ts
  src/routes/health.ts
  src/types/health.ts
  src/types/index.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit', bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: add health endpoint testing scripts for local CI setup
  scripts/test-ci-locally.sh
  scripts/test-health.sh
  scripts/test-minimal.sh
  scripts/test-simple.sh
Due: none

chore: update AWS CLI installation to version 2 for improved functionality in DynamoDB checks
  .github/workflows/ci.yml
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: comment out push trigger in CI workflow for clarity
  .github/workflows/ci.yml
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: update AWS CLI installation steps to handle updates and improve clarity
  .github/workflows/ci.yml
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: update Node.js version to 22 in CI workflows for consistency
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: rename workflow from "Pull Request Checks" to "PR" for brevity
  .github/workflows/pr-checks.yml
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: add debug step for secret availability and update Codecov upload conditions
  .github/workflows/ci.yml
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

chore: add permissions section for GitHub Actions workflow
  .github/workflows/pr-checks.yml
Due: prettier --write, bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"'

Path conditions:
  eslint --fix: any of: src/**/*.{ts,js}
  prettier --write: (any of: src/**/*.{ts,js}) or (any of: *.{json,md,yml,yaml})
  bash -c 'tsc --noEmit': any of: src/**/*.ts
  bash -c 'echo "Checking for trailing whitespace and line endings..." && ! grep -l "[[:space:]]$" "$@" && echo "âœ“ No trailing whitespace found"': any of: *.{ts,js,json,md,yml,yaml}
